{{!
    @template theme_sql/mod/url_vimeo_single_video
}}
<div class="url_vimeo_single_page">
    <div class="video_page_wrapper">
        <div class="video_container">
            {{{embeded_code}}}
        </div>
        <div class="video_name_wrapper">
            {{{video_name}}}
        </div>
        <div class="activity_navigation_wrapper">
            {{{output.activity_navigation}}}
        </div>
    </div>
</div>