#page-login-change_password {
  #page-wrapper #page #page-content {
    padding-bottom: 32px !important;

    @media (max-width: 768px) {
      padding-bottom: 0 !important;
    }
  }

  #page {
    margin-top: 76px;
  }

  header {
    display: none !important;
  }

  .custom-notice {
    padding-top: 96px;

    .icon {
      margin-bottom: 24px;
    }

    .custom-notice-message {
      font-size: 32px;
      line-height: 40px;
      font-family: 'Inter-Bold', sans-serif;
      margin-bottom: 40px;
    }
  }

  #id_changepassword {
    h3 {
      font-family: 'Inter-Bold', sans-serif;
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 40px !important;
      color: $main-black;

      @media (max-width: 576px) {
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 32px !important;
      }
    }
  }

  .main-inner {
    padding: 64px 56px!important;
    box-shadow: 0px 0px 27px rgba(93, 126, 172, 0.1) !important;
    border-radius: 16px;
    max-width: 1110px!important;
    margin: 32px auto!important;
    background: $white;

    @media (max-width: 768px) {
      padding: 56px 24px!important;
      margin: 0!important;
      box-shadow: none !important;
    }
  }

  form {
    @media (max-width: 576px) {
      padding-left: 0;
      padding-right: 0;

      fieldset .d-flex.align-items-center.mb-2 {
        margin-bottom: 0!important;
      }
    }
  }

  .input-field-wrapper {
    position: relative;
    max-width: 484px;

    @media (max-width: 576px) {
      max-width: 100%;
    }

    input {
      min-width: 484px;
    }
  }

  .password-eye {
    background-image: url([[pix:theme|Hide]]);
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 38px;
    right: 32px;
    cursor: pointer;

    &.password-shown {
      background-image: url([[pix:theme|Show]]);
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &:last-child(:not(.btn-cancel)) {
      margin-bottom: 40px;
    }

    .col-md-3.col-form-label.d-flex.pb-0.pr-md-0 {
      min-width: 100%;
    }
  }

  #fitem_id_email {
    .form-inline {
      width: 484px;
      height: 40px;
      background: $background-grey;
      border: 1px solid $input-border;
      display: flex;
      align-items: center !important;
      min-height: 40px;
      border-radius: 4px;

      @media (max-width: 576px) {
        width: 100%;
      }

      .form-control-static {
        color: $light-grey;
        padding-left: 16px;
      }
    }
  }

  #page {
    background: #F5F5F5;
    min-height: calc(100vh - 140px);
  }

  #id_changepasswordcontainer {
    .icon {
      display: none;
    }

    #fitem_id_email {
      span {
        margin-bottom: 4px;
        color: $light-grey;
        font-size: 14px;
        line-height: 22px;
      }
    }

    input[type='checkbox'] {
      width: auto !important;
      height: auto !important;
      display: none;
    }

    input {
      width: 484px !important;
      height: 40px;
      border: 1px solid $input-border;
      padding: 0 55px 0 16px;

      @media (max-width: 576px) {
        width: 100% !important;
        min-width: 100%;
      }
    }

    div {
      padding: 0;
    }
  }

  label {
    font-size: 14px;
    line-height: 22px;
    color: $secondary-black;
    margin-bottom: 4px;
  }

  input[type="checkbox"]:checked + label[for='id_signoutofotherservices']::before {
    background-color: $main-yellow;
    border: none;
  }

  label[for='id_signoutofotherservices'] {
    display: flex;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url([[pix:theme_sql|check]]) center no-repeat;
      background-color: #ffffff;
      border: 1px solid $input-border;
      border-radius: 4px;
      margin-right: 8px;
      transition: 0.3s all;
    }
  }

  .mform fieldset {
    border-bottom: none;
    margin-bottom: 0;
  }

  .col-md-9.form-inline.align-items-start.felement {
    padding-left: 0;
  }

  .fdescription.required {
    display: none;
  }

  span[data-fieldtype='submit'] input {
    background: $main-yellow;
    border-radius: 8px;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin-right: 16px;
    width: 137px;
    height: 48px;
    border: none;
    transition: all .3s ease-in-out;

    &:hover {
      background: $main-blue-hover;
    }
  }

  #fitem_id_newpassword2 {
    @media (max-width: 576px) {
      margin-bottom: 32px;
    }
  }

  #fitem_id_password,
  #fitem_id_email,
  #fitem_id_newpassword1,
  #fitem_id_newpassword2,
  .form-group.row.fitem {
    margin-left: 0;

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  .fitem.btn-cancel span input {
    background: transparent;
    border-radius: 8px;
    border: 2px solid $main-yellow;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin-right: 16px;
    width: 137px;
    height: 48px;
    color: $main-yellow;
    transition: all .3s ease-in-out;

    &:hover {
      border: 2px solid $main-blue-hover;
      color: $main-blue-hover;
    }
  }

  #fgroup_id_buttonar {

    @media (max-width: 576px) {
      margin-bottom: 0;

      .col-md-3.col-form-label.d-flex.pb-0.pr-md-0 {
        display: none!important;
      }
    }

    .col-md-9.form-inline.align-items-start.felement {
      @media (max-width: 576px) {
        padding-right: 0;
      }
    }

    fieldset {
      div {
        @media (max-width: 576px) {
          flex-direction: column;

          .form-group {
            width: 100%;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .btn {
          @media (max-width: 576px) {
            width: 100%;
          }
        }
      }
    }
  }
}