<div class="payment_text">
    {{#str}}premium_text, auth_stripe, {{period}} {{/str}}
</div>
<ul class="payment_list">{{!
        Do not move this text to the strings because this is temporary solution exectly for AB test
    }}
    <li class="payment_item">{{#str}}premium_item1, auth_stripe{{/str}}</li>
    <li class="payment_item">{{#str}}premium_item2, auth_stripe{{/str}}</li>
    <li class="payment_item">{{#str}}premium_item:annual_item1, auth_stripe{{/str}}</li>
    <li class="payment_item">{{#str}}premium_item:annual_item2, auth_stripe{{/str}}</li>
    <li class="payment_item">{{#str}}premium_item:annual_item3, auth_stripe{{/str}}</li>
    <li class="payment_item">{{#str}}premium_item:annual_item4, auth_stripe{{/str}}</li>
</ul>