<div class="payment_text">
    {{#str}}premium_text, auth_stripe, {{period}} {{/str}}
</div>
<ul class="payment_list">{{!
        Do not move this text to the strings because this is temporary solution exectly for AB test
    }}
    <li class="payment_item">Access our full content library</li>
    <li class="payment_item">Real World Data Engineering Projects For Your Resume</li>
    <li class="payment_item">Go from zero to job ready</li>
    <li class="payment_item">Our top Python, SQL, World Data Modeling  programs</li>
    <li class="payment_item">More ways to learn to code</li>
</ul>