<div class="login-with">
    <span>{{#str}}you_can_login_with,theme_sql{{/str}}</span>
    <div class="login-socials">
        {{#identityproviders}}
            <a href="{{url}}" class="social-link"> {{{iconurl}}}</a>
        {{/identityproviders}}
    </div>
</div>