<div class="sql-footer">
    <div class="left">
        <div class="footer-information">{{#str}} footer_privacy, theme_sql {{/str}}</div>
    </div>
    <div class="right">
        <div class="social-media-links">
            <a href="https://www.instagram.com/data_engineer_academy/" class="social-media-link instagram"></a>
            <a href="https://www.tiktok.com/@dataengineeracademy" class="social-media-link tiktok"></a>
            <a href="https://www.youtube.com/@DataEngineerAcademy" class="social-media-link youtube"></a>
        </div>

<!--        <a href="{{footer_url}}" target="_blank">{{#str}} footer_development, theme_sql {{/str}}</a>-->
    </div>
</div>