html {
  --white: #FFFFFF;
  --titan_white: #EBEEFF;
  --cinnabar: #E74C3C;
  --sun: #FEB50D;
  --havelock_blue: #6878E1;
  --athens_gray1: #F5F7F9;
  --athens_gray2: #E5E6E9;
  --aluminium: #A7ABB2;
  --tuna: #3A3D46;
}
