<div>
    <p>Last Updated: January 22, 2023</p>
    <p>Data Education Holdings LLC, (“Data Engineer Academy” “we,” “us,” “our”) is committed to protecting both the
        personal as well as business information you share and/or store with us. This Privacy Policy applies to
        transactions and activities and data gathered through the Data Engineer Academy Website and interaction you may
        have with its related Social Media accounts. Please review this Privacy Policy periodically as we may revise it
        without notice.
    </p>
    <p>Generally, we may collect and use personal information for many purposes, including, but not limited to: billing,
        product and service fulfillment, understanding customer needs, providing a better website, improving products
        and services, and communicating with customers and potential customers regarding our products and services with
        third-party products and services.</p>
</div>
<div>
    <h3>Personally Identifiable Information that You Provide to Us</h3>
    <p>We do not collect personally identifiable information e.g., name, e-mail address, contact or similar information
        unless you choose to provide it to us. If you voluntarily provide us with personal information, for example by
        sending an e-mail or by filling out a form and submitting it through our Website, we may use that information
        only to respond to your message and to help us provide you with the information or services that you request. To
        the extent that we process your personal information based on your consent, you may withdraw your consent at any
        time as stated below.</p>
    <h4>Account Registration Information</h4>
    <p>In some instances, use of the Data Engineer Academy Website and Services may require that you disclose certain
        personal information for identification, including a unique email address and demographic information
        (including, for example, ZIP code, age, sex, job industry, job title, and income) to register.</p>
    <h4>Billing and Credit Card Information</h4>
    <p>Our Services comprise, generally interview prep coaching Webinars, Seminars and materials distributed on a
        subscription basis. To enable payment, we collect and store name, address, telephone number, email address,
        credit card information, and other billing information. This information will only be shared with third parties
        who facilitate completion of the purchase transaction, such as by fulfilling orders and processing credit card
        payments.
    </p>
    <p>We will not disclose your billing and/or credit card information unless required by law or a court order, or
        unless disclosure is required to address an issue implicated by the financial transaction. For instance, if you
        claim that your billing and/or credit card information was used to make a purchase you did not authorize,
        details about the transaction may be disclosed to law enforcement and any party we deem necessary to address the
        matter.</p>
    <p>I authorize Data Engineering Academy to obtain my personal credit profile under FCRA solely to provide me with a
        funding pre-qualification through a soft, zero impact credit check utilizing only my name, phone and email address.
        I authorize Epic Network to obtain my personal credit profile under FCRA solely to provide me with a funding
        pre-qualification through a soft, zero impact credit check utilizing only my name, phone and email address.
    </p>
    <h3>How this Information is Used</h3>
    <p>The information we collect is used for a variety of purposes, such as:</p>
    <ul>
        <li>to enable your use of our services and fulfill your requests for certain features, such as enabling you to
            participate in and renew paid services, polls, and message boards;
        </li>
        <li>by performing statistical, demographic and marketing analyses of users of our services to improve our
            relationship with our customers
        </li>
        <li>for product development purposes and to generally inform advertisers about the nature of our subscriber base
            to improve our relationship with our customers;
        </li>
        <li>to customize your experience by allowing advertising to be targeted to the users for whom such advertising
            is most pertinent
        </li>
    </ul>
    <h4>Use and Processing of Collected Information</h4>
    <p>Note that under some legislations, we may be allowed to process information until you object to such processing
        (by opting out), without having to rely on consent or any other of the following legal bases below. In any case,
        we will be happy to clarify the specific legal basis that applies to the processing, and in particular whether
        the provision of Personal Information is a statutory or contractual requirement, or a requirement necessary to
        enter into a contract. You further understand that this is a soft pull and will not harm your credit in any
        way whatsoever.</p>
    <h4>Direct Communication</h4>
    <p>An important aspect of our services includes direct communication with our customers. As a result, we will
        periodically send you communications to your email, text, or voice mailbox, via telephone, fax, cell phone,
        email, paper mail, or any other delivery method regarding the products or services you may have purchased
        through this Website. We may also send you information about product or service updates, new features, or
        information we believe you may find interesting. We may send you information regarding other products and
        services we offer.</p>
    <h4>How to access, correct, delete or exercise other rights regarding your Personal Information</h4>
    <p>If you would like to request to access, correct, object to the use, restrict or delete personal information that
        you have previously provided to us, or if you would like to request to receive an electronic copy of your
        personal information for purposes of transmitting it to another company, you may contact us at
        support@dataengineeracademy.com with the subject line “Data Subject Request.” We will attempt to comply with
        your request. However, the nature of our business, along with the applicable law governing our business,
        requires us to retain your information for several years. Please also note that we may need to retain certain
        information for recordkeeping purposes and/or to complete any transactions that you began prior to requesting a
        change or deletion (e.g., when you make a purchase or enter a promotion, you may not be able to change or delete
        the personal information provided until after the completion of such purchase or promotion). There may also be
        residual information that will remain within our databases and other records, which will not be removed.</p>
    <p>As a result, we cannot guarantee the deletion of all your information. But, when we receive a deletion request,
        we will remove your applicable information from our marketing and billing systems accordingly. This will ensure
        that there are no further mailings or billings directed towards you.</p>
    <p>As we continue to refine our systems, we will establish a method for the complete removal of all user information
        from the system without compromising our legal and ethical duties. This document will evolve as these new
        methods are defined and tested for permanent account deletion.</p>
    <p>For your protection, we may only implement requests with respect to the personal information associated with the
        particular email address that you use to send us your request, and we may need to verify your identity before
        implementing your request. We will try to comply with your request as soon as reasonably practicable.</p>
    <h4>Your choices regarding our use and disclosure of information</h4>
    <p>We may use the information you provide for marketing purposes such as promotional emailing, direct mail, and
        sales contacts. We give you many choices regarding our use and disclosure of your personal information for
        marketing purposes. You may opt-out from receiving electronic communications from us if you are a user of
        products or services and no longer want to receive marketing-related emails from us on a going-forward basis,
        you may opt-out of receiving these marketing-related emails by sending a request for list removal to
        <a href="mailto:support@dataengineeracademy.com">support@dataengineeracademy.com</a>. If you have provided your
        information to us, and opt-out, we will put in place
        processes to honor your request. This may entail keeping some information for the purpose of remembering that
        you have opted-out.</p>
    <p>We will try to comply with your request(s) as soon as reasonably practicable. Please also note that if you do
        opt-out of receiving marketing-related emails from us, we may still send you messages for administrative or
        other purposes directly relating to your use of the products or services, and you cannot opt-out from receiving
        those messages.</p>
    <h4>Data Retention</h4>
    <p>We will retain your personal information for as long as needed or permitted in light of the purpose(s) for which
        it was obtained and consistent with applicable law. The criteria used to determine our retention periods
        include:</p>
    <ul>
        <li>The length of time we have an ongoing relationship with you and provide the Services to you (for example,
            for as long as you have an account with us or keep using the Services);
        </li>
        <li>Whether there is a legal obligation to which we are subject (for example, certain laws require us to keep
            records of your transactions for a certain period of time before we can delete them); or
        </li>
        <li>Whether retention is advisable in light of our legal position (such as in regard to applicable statutes of
            limitations, litigation or regulatory investigations).
        </li>
    </ul>
    <h4>Security of Your Information</h4>
    <p>The security of personal information is a high priority for us. We seek to use reasonable technical,
        administrative and physical safeguards to protect Personal Information within our organization. Unfortunately,
        no data transmission or storage system can be guaranteed to be 100% secure. You transmit and receive all such
        information at your own risk.</p>
    <p>WE PROVIDE ANY AND ALL SERVICES AND INFORMATION ON AN “AS IS” BASIS AND GRANT NO WARRANTIES OF ANY KIND, EXPRESS,
        IMPLIED OR STATUTORY. WE SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
        PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</p>
    <p>If you have any questions about the security of your interaction with us please contact us at
        <a href="mailto:support@dataengineeracademy.com">support@dataengineeracademy.com</a>.</p>
    <h4>Social Media Features</h4>
    <p>Our products and services may use social media features provided by third parties, such as the Facebook Like
        button. These features may collect your IP address, which page you are visiting on our websites, and may set a
        cookie to enable the feature to function properly. Social media features and widgets are either hosted by a
        third party or hosted directly on our websites. Your interactions with these features are governed by the
        privacy policy of the company providing it.</p>
    <h4>Third Party Payment Processor</h4>
    <p>We currently use third-party payment processors. When making payment, your personal information may be collected
        by such processors directly and not by us and will be subject to the third-party’s privacy policy. We have no
        control over and are not responsible for, third parties’ collection, use, and disclosure of your personal
        information.</p>
    <h4>Links To Other Websites</h4>
    <p>This Privacy Policy does not address, and we are not responsible for, the privacy, information or other practices
        of any third parties, including any third-party site or service used in connection with our products and
        services. The inclusion of a link does not imply endorsement of the linked site or service by us.</p>
    <p>Please note that we are not responsible for the collection, usage and disclosure policies and practices
        (including the data security practices) of other organizations, such as Facebook, Apple, Google, Microsoft, Zoho
        or any other app developer, app provider, social media platform provider, operating system provider, wireless
        service provider or device manufacturer, including any personal information you disclose to other organizations
        through or in connection with our products and services, including our social media pages.</p>
    <h4>Third-Party Vendors</h4>
    <p>In providing our products and services, we use various third-party vendors who may either directly or indirectly
        collect information from you, including, but not limited to, Facebook, Twitter, Google, and Microsoft. You
        should review the relevant privacy policies (for further information on how each third party handles your
        personal information. If you would like a list of all third-party vendors who we currently use, please request
        the “current third-party vendor list” by emailing us at <a href="mailto:support@dataengineeracademy.com">support@dataengineeracademy.com</a>.
    </p>
    <h4>Cross-Border Transfer; Governing Law; Jurisdiction</h4>
    <p>The Services are controlled and operated by us from the United States and are not intended to subject us to the
        laws or jurisdiction of any state, country or territory other than that of the United States. Your personal
        information may be stored and processed in any country where we have facilities or in which we engage service
        providers, and by using our services you understand that your information will be transferred to countries
        outside of your country of residence, including the United States, which may have data protection rules that are
        different from those of your country. In certain circumstances, courts, law enforcement agencies, regulatory
        agencies or security authorities in those other countries may be entitled to access your personal information.
        By using our services, including our website, you acknowledge and agree that (1) this Privacy Policy and any
        other agreement between you and us shall be governed in accordance with the laws of the State of California,
        USA, notwithstanding any conflict-of-law provisions to the contrary; and (2) all disputes and claims relating to
        this Privacy Policy and any other agreement between you and us shall be litigated in the courts located in the
        County of Los Angeles, California, and you expressly waive any objections to such jurisdiction and venue and
        irrevocably consent and submit to the personal and subject matter jurisdiction of such court in any action or
        proceeding.</p>
    <h4>Non-Personal Information Collected Through Technology and Third-Parties</h4>
    <p>During your visit as you browse through the website, read pages, or download information, we automatically
        collect and store the following anonymous information about your visit:</p>
    <ul>
        <li>he date and time you access our site;</li>
        <li>the pages You visit on our site;</li>
        <li>if You navigate to our site by clicking a link, the location of that link;</li>
        <li>the technical capabilities of the computer you use to access our site;</li>
        <li>the internet service provider You use to connect to our site (for example “companyX.com” if You have a
            commercial internet account, or “universityX.edu” if You connect from a university); and
        </li>
        <li>the IP address (a number automatically assigned to Your computer whenever You are surfing the internet) from
            which You access our site.
        </li>
    </ul>
    <p>We use this information, in the aggregate, to make our website more useful to visitors — to learn about the
        number of visitors to our site and the types of technology used, to detect operational problems, and to improve
        the website’s overall security.</p>
    <h4>Cookies, Beacons, Local Storage, and Other Similar Technologies</h4>
    <p>We use “cookies,” Web beacons, HTML5 local storage, and other similar technologies. These technologies allow us
        to manage access to and use of the Services, recognize you and provide personalization, and help us understand
        how people use our Services. You may not be able to access certain areas of our websites, including
        dataengineeracademy.com, deinterview.com, or dataengineerinterview.com, if your computer does not accept cookies
        from us.</p>
    <p>We do not respond to browser-based “do not track” signals.</p>
    <p>We may transmit non-personally identifiable website usage information to third parties in order to show you
        advertising for Data Engineer Academy when you visit other sites.
    </p>
    <h4>Analytics, Log Files and Reading History</h4>
    <p>We gather certain information automatically and store it in log files. This information may include IP addresses,
        browser type, operating system and other useful information about the use of our Services, including a history
        of the pages you view.</p>
    <p>We may combine this automatically collected log information with other information we collect about you. We do
        this to improve services we offer you, including customized recommendations, advertising, to improve marketing,
        and to track access and use of our Services across the devices that you may use to access our Services.</p>
    <p>We have hired third parties to provide us information, reports, and analysis about the usage, browsing patterns
        of our users. They may independently record the type of device and operating system you are using, general
        location information, as well as events that occur on our Website, such as how often you use our Website.
    </p>
    <h3>Third-party Persons or Entities with Whom We Share Personally Identifiable Information</h3>
    <p><b>Unless stated otherwise in this Privacy Policy, we will not sell, rent, swap or authorize any third party to
        use your email address.</b></p>
    <h4>Third Parties</h4>
    <p>We may share information about our audience in aggregate or de-identified form. Nothing in this Privacy Policy is
        intended to indicate a restriction of our use or sharing of aggregated or de-identified information in any
        way.</p>
    <h4>Disclosure by Necessity</h4>
    <p>We may occasionally access, preserve, and/or disclose personal information as required by law, for example, to
        comply with a court order or subpoena or we have a good faith belief that such action is necessary to:</p>
    <ul>
        <li>comply with the law or with legal process;
        </li>
        <li>protect and defend our rights and property;</li>
        <li>protect against misuse or unauthorized use of Our Services; or</li>
        <li>protect the personal safety or property of our users or the public (among other things, this means that if
            you provide false information or attempt to pose as someone else, information about you may be disclosed as
            part of any investigation into your actions).
        </li>
    </ul>
    <p>As we continue to develop our business, we or our affiliates may sell or buy other businesses or entities, or we
        may merge with another company, or be bought by another company. In such transactions, personal information may
        be among the transferred assets.</p>
    <p>Your information may be stored and processed in any country in which we maintain facilities or conduct
        operations. By using our Website, your personal information may be transferred outside of your country of use
        and/or residence.
    </p>
    <p>When your account becomes inactive, your information may remain in our computers, electronic databases, and
        archives, and may not be reasonably capable of expungement.</p>
    <h3>Miscellaneous</h3>
    <h4>Children’s Guidelines</h4>
    <p><b>COPPA Compliance</b>. We do not knowingly collect or store any personal information about children under the
        age of
        13. If you are under 18 years of age you are not authorized to provide us any personal information and should
        not use or access this Website.</p>
    <h4>Your California Privacy Rights: Notice to California Customers and Opt-Out Information</h4>
    <p>California’s “Shine the Light” law, Civil Code section 1798.83, requires certain businesses to respond to
        requests from California customers asking about businesses’ practices related to disclosing personal information
        to third parties for the third parties’ direct marketing purposes. Alternatively, such businesses may have in
        place a policy not to disclose personal information of customers to third parties for the third parties’ direct
        marketing purposes if the customer has exercised an option to opt-out of such information-sharing. We do not
        share your personal information with third parties for the purpose of direct marketing if you have exercised an
        option to opt-out.
    </p>
    <h4>Amendments</h4>
    <p>This Privacy Policy may be amended by us at any time and without notice, but only by amending this Policy as
        posted on this Website. Any amendments will become effective 30 days after being posted on the website unless
        circumstances require that a change is immediately implemented.</p>
</div>
