{{!
    @template theme_sql/tab_buttons

    Tab buttons template

    Example context (json):{}
}}
<a id="mod_quiz-show-solution" target="_blank" href="{{{url_solution}}}"
   class="btn btn-primary mod_quiz-next-nav">{{#str}}show_solution, theme_sql{{/str}}</a>