<div id="notice" class="custom-notice">
  {{#image}}
   {{{image}}}
  {{/image}}
  {{#title}}
    <h2 class="custom-notice-title">{{{title}}}</h2>
  {{/title}}
  <div class="custom-notice-message">{{{message}}}</div>
  {{#link_text}}
    <a href="{{{link_button}}}" class="btn btn-primary">{{{link_text}}}</a>
  {{/link_text}}
</div>