<div class="setup-password-wrapper">
  <div class="setup-password">
    <div class="card">
      <div class="card-block">
        <div class="card-body">
          <div class="box-content">
            <div class="form-setup-wrapper">
              <img class="logo" src="{{logo-imgsrc}}">
              {{{form}}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="bottom-text-privacy">{{#str}} privacy_text, auth_stripe {{/str}}</p>
  </div>
</div>
