<div class="profile-subscription">
    <h4 class="user-profile-subtitle">{{#str}}subscription, auth_stripe{{/str}}</h4>
    <div class="tier_cards_container d-flex flex-column">
        {{{ tier_cards }}}
    </div>
</div>
{{> auth_stripe/cancel_premium_popup }}