#page-login-forgot_password {
  pointer-events: initial!important;
  footer {
    display: none;
  }
}

.forgot {
  &-password-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 24px;
    height: 100%;
    max-height: 100vh;

    @media (max-width: 1200px) {
      justify-content: center;
    }

    @media (max-height: 730px) {
      max-height: 100%;
    }

    .image-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 665px;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1380px) {
        max-width: 540px;
      }

      @media screen and (max-width: 1160px) {
        display: none;
      }

      @media screen and (min-width: 1160px) and (max-height: 560px) {
        display: none;
      }

      .image {
        width: 100%;
        overflow: hidden;
        border-radius: 16px;

        img {
          height: 100%;
          min-width: 100%;
          width: 100%;
          object-fit: cover;
          max-width: 375px;
        }
      }
    }

    .forgot-password-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: column;
      width: 100%;
      height: 100%;
      position: relative;
      background-color: $white;

      .forgot-password-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-bottom: 24px;

        @media (max-width: 576px) {
          justify-content: flex-start;
        }

        img {
          margin-bottom: 48px;

          @media (max-height: 920px) {
            height: 44px;
            width: 177px;
            margin-bottom: 16px;
          }

          @media (max-width: 576px) {
            height: 48px;
            width: 194px;
            margin-bottom: 16px;
          }
        }
      }

      .forgot-container {
        box-shadow: 0px 0px 27px rgba(93, 126, 172, 0.1)!important;
        border-radius: 16px;
        padding: 64px 56px;
        max-width: 540px;
        width: 540px;

        @media (max-width: 576px) {
          box-shadow: none !important;
          padding: 40px 0;
          width: 100%;
        }

        .mform {
          @media (max-width: 576px) {
            padding: 0!important;
          }
        }

        h3 {
          font-family: 'Inter-Bold', sans-serif;
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 16px;
          color: $main-black;

          @media (max-width: 576px) {
            font-size: 40px;
            line-height: 52px;
            margin-bottom: 16px;
          }
        }

        .form-control-static {
          font-size: 18px;
          line-height: 27px;
          color: $secondary-black;
        }

        #fitem_id_instructions .form-control-static {
          margin-bottom: 40px;

          @media (max-width: 576px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 32px;
          }
        }

        #fitem_input-email div {
          padding: 0!important;
        }

        #input-email_label,
        #email_label {
          text-transform: capitalize;
          margin-bottom: 4px;
        }

        #fitem_email {
          .col-md-3.col-form-label.d-flex.pb-0.pr-md-0 {
            padding: 0;
          }
        }

        #email {
          width: 100%;
          height: 40px;
          border: 1px solid $input-border;
          border-radius: 4px;
          margin-bottom: 40px;

          &::placeholder {
            color: transparent;
          }

          &:focus {
            box-shadow: none;
          }

          @media (max-width: 576px) {
            margin-bottom: 32px;
          }
        }

        .btn {
          width: 100%;
          height: 48px;
          background-color: $main-yellow;
          font-size: 16px;
          line-height: 18px;
          font-family: 'Inter-Bold', sans-serif;
          margin-bottom: 40px;
          padding: 14px 0;
          border: none;
          transition: all .3s ease-in-out;
          color: #FFFFFF;

          &:hover {
            background-color: $main-blue-hover;
          }

          @media (max-width: 576px) {
            margin-bottom: 32px;
          }
        }

        .link-sign-up {
          font-size: 14px;
          line-height: 22px;
          font-family: 'Inter-SemiBold', sans-serif;
          color: $main-blue-hover;
          text-decoration: underline;
        }

        .no-account {
          text-align: center;
        }
      }

      .bottom-text-privacy {
        color: $light-grey;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        line-height: 16px;
      }

      .card {
        height: 100%;
        width: 100%;
        justify-content: center;

        .form-inline {
          width: 100%;
          min-width: 100%;
          padding: 0;
        }

        .form-group {
          margin: 0;
        }
      }

      #fitem_id_title {
        .pr-md-0 {
          display: none !important;
        }
      }

      .card-body {
        padding: 0;
      }

      .card {
        border: none;
      }

      #fitem_id_instructions {
        .pr-md-0 {
          display: none !important;
        }
      }

      #page-name {
        text-align: left !important;
      }
    }
  }
}

.custom-notice {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    width: 88px!important;
    height: 88px!important;
    margin: 0 24px;
  }

  .custom-notice-title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;

    @media (max-width: 576px) {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 8px;
    }
  }

  .custom-notice-message p {
    font-size: 18px;
    line-height: 27px;
    color: $secondary-black;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: 576px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
    }

    a {
      font-family: 'Inter-SemiBold', sans-serif;
      color: $main-blue-hover;
      text-decoration: underline;
    }
  }

  .custom-notice-message + .btn {
    margin-bottom: 0!important;
  }
}

.custom-notice + .no-account {
  display: none;
}

.drawers.drag-container .forgot-password-wrapper {
  padding-top: 0;
}