<div class="forgot-password-wrapper">
    <div class="image-wrapper">
        <div class="image">
            <img src="{{signinimgsrc}}">
        </div>
    </div>
    <div class="forgot-password-block">
        <div class="forgot-password-container">
            <div class="logo-wrapper">
                <div class="logo-image">
                    <img src="{{signin_logo}}">
                </div>
            </div>
            <div class="forgot-container">
                <div class="card">
                    <div class="card-block">
                        <div class="card-body">
                            <div class="box-content">
                                <div class="form-wrapper">
                                    {{{form}}}
                                    {{^hide-goto-signin}}
                                        <div class="no-account">
                                            <a class="link-sign-up" href="{{signinurl}}">{{#str}}
                                                forgot_goto, theme_sql {{/str}} {{#str}}
                                                forgot_login, theme_sql {{/str}}</a>
                                            </span>
                                        </div>
                                    {{/hide-goto-signin}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> theme_sql/auth/login_footer }}
    </div>
</div>
