{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}

<div style="overflow:hidden" class="signupform">
    <div class="image-wrapper">
        <div class="image">
            <img src="{{preview_image}}" alt="">
        </div>
    </div>
    <div class="form_right">
        <div class="sign_up_wrapper">
            <img src="{{logourl}}" class="site_logo">
            <div class="sign-up-wrapper">
                {{{formhtml}}}
                {{{identityproviders}}}
                <div class="no-account">
                    <span class="donthaveaccount">{{#str}} signup_haveaccount_text, auth_stripe {{/str}}</span>
                    <span>
                        <a class="link-sign-up" href="{{loginurl}}">{{#str}} login, auth_stripe {{/str}}</a>
                    </span>
                </div>
            </div>
        </div>
        {{> theme_sql/auth/login_footer }}
    </div>
</div>
