@font-face {
    font-family: "Inter-Regular";
    src: local("Inter-Regular"), local("Inter-Regular"), url([[font:theme|Inter-Regular.woff2]]) format("woff2"),
        url([[font:theme|Inter-Regular.woff]]) format("woff"), url([[font:theme|Inter-Regular.ttf]]) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: local("Inter-SemiBold"), local("Inter-SemiBold"), url([[font:theme|Inter-SemiBold.woff2]]) format("woff2"),
        url([[font:theme|Inter-SemiBold.woff]]) format("woff"), url([[font:theme|Inter-SemiBold.ttf]]) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Bold";
    src: local("Inter-Bold"), local("Inter-Bold"), url([[font:theme|Inter-Bold.woff2]]) format("woff2"),
        url([[font:theme|Inter-Bold.woff]]) format("woff"), url([[font:theme|Inter-Bold.ttf]]) format("truetype");
    font-weight: 700;
    font-style: normal;
}
