// Pre SCSS for the theme.

$lato-font: "Lato", sans-serif;

$header-height: 76px;

$main-black: #001C29;
$secondary-black: #3A3D46;
$main-blue-hover: #6878E1;
$light-grey: #A7ABB2;
$white: #ffffff;
$main-yellow: #FEB50D;
$input-border: #E5E6E9;
$background-grey: #F5F7F9;
$background-purple: #EBEEFF;
$scroll-purple: #929DE9;
$input_error: #F03D3E;
$badges_color: #EFFBEA;
$menu_hover: #FAFBFF;

$main-black-popup-hex: rgba(2, 47, 71, 0.5);
$main-blue: #39c3ef;
$main-blue-hex: rgba(57, 195, 239, 0.05);
$main-blue-hex2: rgba(57, 195, 239, 0.5);
$light-blue: #EEF9FD;
$border-color: #EEEFF3;
$correct-green: #00C349;
$error-red: #DD4E58;
$error-bg: #fceaec;
$drawer-grey: #F6F9FB;
$drag-and-drop-bg: #D2EDF7;
$progress-bar-bg: #F8F9FA;
$partly-correct-bg: #FCF1DC;

$light-green-done: #3EDE33;

$card-bg: rgba(255, 255, 255, 0.98);
$answer-correct-bg: #F5FFEB;
$answer-incorrect-bg: #FCEDEE;

$shadow: 0 0 20px rgba(25, 67, 90, 0.12);
$shadow-popup: 0px 0px 60px rgba(0, 80, 123, 0.7);
$shadow-header: 0px 0px 16px rgba(0, 80, 123, 0.07);
$shadow-menu: 0 0 16px rgba(0, 80, 123, 0.24);
$shadow-card: 0 0 20px rgba(0, 80, 123, 0.12);